<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    body{
        margin-top: 50px;
    }
    h1 {font-style: italic; font-weight: bolder; }
    .letter {letter-spacing: 5px; text-decoration: underline; text-decoration-color: crimson;}
    .a {}
</style>
<center>
<body>
<h1 class="letter">WORD COUNT</h1>
<a herf="{% url 'about' %}">ABOUT</a>
<br>
<form action="{% url 'count' %}">
    <textarea cols="40" rows="10" name="fulltext"></textarea>
    <br><br>
    <input type="submit" class="btn btn-success" value="!! COUNT !!"/>
</form>
</body>
</center>
